# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^referers   RestController.php?view=referrals [nc,qsa]
RewriteRule ^countries  RestController.php?view=countries [nc,qsa]
RewriteRule ^getUnattended  RestController.php?view=getUnattended [nc,qsa]
RewriteRule ^validateLogin  RestControllerPost.php?view=validateLogin [nc,qsa]
RewriteRule ^studentDocs  RestControllerReg.php?view=studentDocs [nc,qsa]